# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios Cap02

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [3]:
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [4]:
lista = ['Mateus', 'Sobreira', 'Toledo', 'Dsa', 'Python']
print(lista)

['Mateus', 'Sobreira', 'Toledo', 'Dsa', 'Python']

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [8]:
str1 = "Mateus"
str2 = "Toledo"
str3 = str1 +" "+ str2
print(str3)

Mateus Toledo

In [9]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [13]:
tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)
tupla1.count(4)

3

In [12]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [14]:
dic = {}
dic

{}

In [7]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [17]:
dic = {"Mateus":"Botafogo", "Paulo": "Flamengo", "Léo":"Vasco"}
dic

{'Mateus': 'Botafogo', 'Paulo': 'Flamengo', 'Léo': 'Vasco'}

In [8]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [20]:
dic["João"] = "Fluminense"
dic

{'Mateus': 'Botafogo',
 'Paulo': 'Flamengo',
 'Léo': 'Vasco',
 'João': 'Fluminense'}

In [9]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [21]:
dic1 = {"Mateus":"Botafogo", "Paulo": "Flamengo", "Léo":"[3,4]"}
dic1

{'Mateus': 'Botafogo', 'Paulo': 'Flamengo', 'Léo': '[3,4]'}

In [10]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [22]:
lista4 = ["Botafogo", (1,2), {"Paulo":"Flamengo", "Léo": "Vasco"}, 3.4]
lista4

['Botafogo', (1, 2), {'Paulo': 'Flamengo', 'Léo': 'Vasco'}, 3.4]

In [11]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [24]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>

Parabéns se você chegou até aqui. Use o voucher PYTHONDSA9642 para comprar qualquer curso ou Formação da DSA com 5% de desconto.